<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pinpointers</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link href="css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/app.css" rel="stylesheet">
	</head>
	<body>
        <!-- Full page spinner -->
        <div class="spinner" ng-controller="mainCtrl"  ng-hide="loggedIn">
        </div>
        <!-- LOCATIONS LIST -->
        <div ng-controller="LocationsController as locationsCtrl" class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
            <div class="list-group" ng-cloak>
                <input type="text" class="form-control" placeholder="Search..."  ng-model="locationsSearch.UnitName">
                <!-- LastReportedEvent Directive -->
                <div ng-click="locationsCtrl.handleItemClick($index,location.UntID,location.Lat,location.Lon)" class="list-group-item last-reported-event-item" ng-repeat="location in locationsCtrl.locations | orderBy:'-EventDTUTC' |  filter:locationsSearch" ng-class="{'active-selection': locationsCtrl.isSelected(location.UntID)}">
                    <last-reported-event event-data="location" id="unt{{location.UntID}}"></last-reported-event>
                </div>
            </div>
        </div>
        <!-- NAVBAR -->
        <div class="navbar navbar-default navbar-fixed-top" ng-controller="mainCtrl">
          <div class="container-fluid">
              <button type="button" class="navbar-toggle pull-left" data-toggle="offcanvas" data-target=".navmenu">
                <span class="glyphicon glyphicon-list-alt"></span>
              </button>
              <button type="button" class="btn btn-default navbar-btn pull-right" ng-click="logout()"><span class="glyphicon glyphicon-off"></span></button>
          </div>
        </div>
        <!-- MAP -->
        <div class="map" ng-controller="MapController as mapCtrl" ng-cloak>
              <div id="map-canvas"></div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="lib/jasny-bootstrap.min.js"></script>
        <script src="lib/angular.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/controllers/locationscontroller.js"></script>
        <script src="app/controllers/mapcontroller.js"></script>
        <script src="app/services/datastoreservice.js"></script>
        <script src="app/services/googlemapsinitializer.js"></script>
        <script src="app/stores/lastreportedeventstore.js"></script>
        <script src="app/directives/lastreportedevent.js"></script>
        <script src="app/helpers.js"></script>
	</body>
</html>